<!doctype html>
<html lang="en" class="dark:bg-gray-900">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>abstructs</title>
    <script src="https://unpkg.com/htmx.org@1.7.0"></script>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="bg-gray-100 dark:bg-gray-900 font-sans">
    <div class="container mx-auto px-4 py-8 relative">
      <div class="flex items-center justify-between mb-8 relative">
        <button id="toggle-sidebar" class="focus:outline-none">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-6 w-6 dark:text-white"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 6h16M4 12h16M4 18h16"
            />
          </svg>
        </button>
        <h1 class="text-4xl font-bold text-center flex-grow dark:text-white">
          abstructs
        </h1>
        <div class="w-6"></div>
        <!-- Placeholder to keep space similar to the button -->
      </div>
      <div class="flex">
        <div
          id="sidebar"
          class="w-64 bg-white dark:bg-gray-800 shadow-md rounded-lg p-4 absolute z-50 hidden max-h-screen overflow-y-auto"
        >
          <ul id="abstruct-list">
            {% if abstructs %} {% for abstruct in abstructs %}
            <li class="mb-2 whitespace-normal overflow-x-auto">
              <a
                href="#"
                class="text-blue-500 hover:text-blue-700 dark:text-blue-400 dark:hover:text-blue-300 block"
                hx-get="/abstructs/{{ abstruct.id }}"
                hx-target="#summary-results"
              >
                {{ abstruct.Trial_Name if abstruct.Trial_Name else abstruct.doi
                }} {% if abstruct.Trial_Name and abstruct.Diagnosis %}
                <span
                  class="text-xs uppercase text-gray-500 dark:text-gray-400"
                >
                  ({{ abstruct.Diagnosis }})
                </span>
                {% endif %}
              </a>
            </li>
            {% endfor %} {% else %}
            <li class="text-gray-500 dark:text-gray-400">
              No abstructs available yet.
            </li>
            {% endif %}
          </ul>
        </div>
        <div class="flex-1">
          <form
            hx-post="/abstructs"
            hx-target="#summary-results"
            hx-indicator="#spinner"
            class="max-w-lg mx-auto"
          >
            <div class="mb-4">
              <input
                type="text"
                id="url"
                name="url"
                required
                placeholder="Enter a URL"
                class="w-full px-3 py-2 text-gray-700 dark:text-gray-400 dark:bg-gray-800 border dark:border-gray-700 rounded-lg focus:outline-none focus:border-blue-500"
              />
              <p class="text-sm text-gray-500 dark:text-gray-400 mt-1">
                This is designed primarily for oncology clinical trials. Only
                nejm.org, doi.org, or direct doi specifiers (e.g.
                10.1056/NEJMoa2312695) are currently supported.
              </p>
            </div>
            <div class="text-center">
              <button
                type="submit"
                class="inline-flex items-center justify-center rounded-md bg-blue-500 hover:bg-blue-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm focus:outline-none focus:shadow-outline"
              >
                <svg
                  class="spinner animate-spin mr-2"
                  id="spinner"
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                >
                  <path d="M21 12a9 9 0 1 1-6.219-8.56"></path>
                </svg>
                <span class="button-text">Summarize</span>
              </button>
            </div>
          </form>
          <div id="summary-results" class="mt-8">
            {% if summary %} {% include 'summary.html' %} {% endif %}
          </div>
        </div>
      </div>
    </div>
  </body>
  <script>
    document
      .getElementById("toggle-sidebar")
      .addEventListener("click", function () {
        var sidebar = document.getElementById("sidebar");
        sidebar.classList.toggle("hidden");
      });

    // Close sidebar on link click
    document.querySelectorAll("#abstruct-list a").forEach(function (link) {
      link.addEventListener("click", function () {
        var sidebar = document.getElementById("sidebar");
        sidebar.classList.add("hidden");
      });
    });
  </script>
  <style>
    @media (max-width: 640px) {
      .overflow-x-auto {
        overflow-x: auto;
      }
      .whitespace-normal {
        white-space: normal;
      }
    }
    .spinner {
      display: none;
    }

    .htmx-request .spinner {
      display: inline;
    }

    .htmx-request.spinner {
      display: inline;
    }

    .htmx-request .spinner ~ .button-text {
      display: none;
    }

    .animate-spin {
      animation: spin 1s linear infinite;
    }
    @keyframes spin {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
    }
    .max-h-screen {
      max-height: calc(100vh - 4rem); /* Adjust to your desired max height */
      overflow-y: auto;
    }
  </style>
</html>
